{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>John Elder's Tech Resume</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'resume/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="{% static 'resume/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'resume/css/resume.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">John Elder</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'resume/img/profile.jpg' %}" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">John
          <span class="text-primary">Elder</span>
        </h1>
        <div class="subheading mb-5">Las Vegas, NV</div>
        <p class="lead mb-5">"John Elder is a pioneer in Web Development who created one of the first Internet advertising networks back in 1997 and sold it to a publicly traded company at the height of the dot com boom. He then went on to create the best-selling Submission-Spider search engine submission software that's been used by over 3 million individuals and small businesses in over 45 countries. Today he develops and teaches Web Development courses at Codemy.com the online code school he founded. John graduated with honors with a degree in economics from Washington University in St. Louis where he was an Artsci Scholar."</p>
        <div class="social-icons">
          <a href="http://www.linkedin.com/pub/john-elder/55/a31/493">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/flatplanet">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/flatplanet">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.facebook.com/groups/codemycom/">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="http://www.youtube.com/c/Codemycom?sub_confirmation=1">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Founder Codemy.com</h3>
            <div class="subheading mb-3">Codemy.com, Inc.</div>
            <p>Online School with over 60,000 students learning to code. Wrote, filmed, edited, and produced over 50 online video courses teaching a variety of programming technologies, including: Django, Python, Ruby on Rails, Node, Javascript, PHP, HTML, CSS, SQL, PostgreSQL, MySQL, and more...</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April 2013 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Co-Founder Introz, Inc.</h3>
            <div class="subheading mb-3">YouLookGoodTogether.com</div>
            <p>Built one of the Internet's first dating websites to match you purely on looks. Members pictures are placed next to each other and website visitors are asked: "Do these two people look good together?" If enough people vote yes, the couple is matched and notified.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">January 2012 - March 2013</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Chairman/CEO </h3>
            <div class="subheading mb-3">Market-Tek Enterprises, Inc.</div>
            <p>Created one of the Internet's earliest SEO Marketing tools, the "Submission-Spider" Search Engine Submission Tool. Software was used by over three million individuals, businesses, and governments in over forty six countries around the world.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">January 1998 - March 2010</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Founcer/CEO</h3>
            <div class="subheading mb-3">BannerClicks.com Advertising Network</div>
            <p>Built one of the Internet's very first Advertising Networks and sold the company to a publicly listed (Nasdaq) company at the height of the first dot-com boom of the late 90's.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">October 1997 - December 1998</span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Washington University In St. Louis</h3>
            <div class="subheading mb-3">Bachelor of Arts</div>
            <div>Economics - With Honors</div>
            <p>Graduated In Three Years</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">December 2008</span>
          </div>
        </div>

      

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-js-square"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-node-js"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-sass"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-less"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-wordpress"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-gulp"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-grunt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-npm"></i>
          </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Python/Django</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Ruby On Rails</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Node/Javascript</li>
          <li>
          <li>
            <i class="fa-li fa fa-check"></i>
            MySQL/PostGRES/Sqlite/SQL</li>
          <li>
          <li>
            <i class="fa-li fa fa-check"></i>
            HTML/CSS</li>
          <li>  
            <i class="fa-li fa fa-check"></i>
            Video Production</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web developer, I enjoy most of my time being outdoors. I am an avid hiker. You'll often find me scrambling around the mountains and desert outside of Las Vegas where I live.</p>
        <p class="mb-0">I play the guitar and read in my spare time and love riding my Motorcycle through the desert. </p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Named 2008 Artsci Scholar (top 10%)</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Named 2006 Thomas H. Eliot </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            1<sup>st</sup>
            Awarded Bassett Scholarship.</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            
            Graduated College In 3 Years</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            
            Named Top Udemy Instructor</li>
          
        </ul>
      </div>
    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'resume/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'resume/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'resume/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'resume/js/resume.min.js' %}"></script>

</body>

</html>
